<script src="https://utteranc.es/client.js"
        repo="andytinkham/digitalgarden"
        issue-term="pathname"
        label="💬 utterance"
        theme="photon-dark"
        crossorigin="anonymous"
        async>
</script>
